
<% if logged_in?%>
  <% enrolled_courses = current_user.courses.pluck(:id) %>
<%else%>
  <%enrolled_courses =[] %>
<%end%>
<table class="table table-responsive table-striped">
  <thead>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>
  </thead>

<% if @courses %>
  <tbody>
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.Code %></td>
      <td><%= course.name %></td>
      <td><%= course.Description %></td>
      <%if !enrolled_courses.include?(course.id)%>
      <td><%= link_to 'Enroll', "/enroll/#{course.id}", class: 'btn btn-primary', method: :post %></td>
      <%else%>
          <td> <p>You have registered already.</p> </td>
      <%end%>
    </tr>
  <% end %>
  </tbody>
  <% end %>
</table>