<<<<<<< HEAD
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>



<h1>My Inbox</h1>
<h1>All Conversations:</h1>
<% @conversations.each do |conversation| %>
<tr>
<div>
    <td>Subject: </td>
    <td> <%=conversation.subject%><td>
    <td><%= link_to "Message", conversation_path(conversation)%></td>
    </div>
</tr>
    <%end%>
    <%= button_to "New Conversation", new_conversation_path%>
 