<%@recipients%>
<h1>My Inbox</h1>
<h1>All Conversations:</h1>
<% @conversations.each do |conversation| %>
<tr>
<div>
    <td>Subject: </td>
    <td> <%=conversation.subject%><td>
    <td><%= link_to "Message", conversation_path(conversation)%></td>
    </div>
</tr>
    <%end%>
    <%= button_to "New Conversation", new_conversation_path%>
 