<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>



<h1 style="font-family: Merriweather; color: #00008B" class="text-center"><b>My Inbox</b></h1>

<div class = "d-flex align-items-center justify-content-center">
<h6 style="font-family: Georgia; color: #7787b1 border:2px; border-style:solid; border-color:#96A1A7; padding: 1em;" class="text-center">Want to start a conversation with someone? Click the button below to start chatting. View a history of all your conversations with other students and alumni in your message inbox below. </h6>
</div>

<table class="table" style="font-family: Merriweather; color: #36454F" id="mytab3">
 <thead>
 <tr scope>
      <th scope="col">Subject</th>
      <th style="text-align:right" scope="col" colspan="3">Link to View Message</th>
      
</tr>
</thead>
<h4 style="font-family: Merriweather; color: #00008B"class="text-center"><b>All Conversations</b></h4>
<% @conversations.each do |conversation| %>
<tr>
<div>
    <td> <%=conversation.subject%><td>
    <td style="text-align:right"><%= link_to "View Message!", conversation_path(conversation)%></td>
    </div>
</tr>
    <%end%>
    <%= button_to "New Conversation", conversations_new_path%>
 