<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>


<h1>Student</h1>

<% @student.each do |student| %>
   <div>
   <%= student.name %>
   <%= student.email %>
   <a href="/conversations/new?other=<%= student.name %>">Message</a>
   <div>
   <br>


<%end %>

