<%# The NavBar Implementation that users will get access to once logged into their account. 
There are tabs to view a list of instrcutos, courses taught, a search page to look for and enroll in courses, and an enrolled courses page to view all enrolled courses.%>
<% if logged_in? %>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #088F8F;">
    <div class="container-fluid">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
       <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/welcome" style= "color: #FFFFFF"><b>Welcome</a></b>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/instructors" style= "color: #FFFFFF"> <b>Instructors</a></b>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/courses" style= "color: #FFFFFF"><b>Courses</a></b>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/search" style= "color: #FFFFFF"><b>Search</a></b>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/enrolled_course" style= "color: #FFFFFF"><b>Enrolled Courses</a></b>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/student_form" style= "color: #FFFFFF"><b>Student Form</a></b>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/alumni_form" style= "color: #FFFFFF"><b>Student Form</a></b>
          </li>
     
        </ul>
      </div>
    </div>
    <%end%>
   </nav>
