<%# The NavBar Implementation that users will get access to once logged into their account. 
There are tabs to view a list of instrcutos, courses taught, a search page to look for and enroll in courses, and an enrolled courses page to view all enrolled courses.%>
<% if logged_in? %>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #088F8F;">
    <div class="container-fluid">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
       <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/welcome" style= "color: #FFFFFF"><b>Welcome</a></b>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/courses" style= "color: #FFFFFF"><b>All Users</a></b>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/alumni" style= "color: #FFFFFF"><b>Alumni Directory</a></b>
          </li>

           <li class="nav-item">
            <a class="nav-link" href="/student" style= "color: #FFFFFF"><b>Student Directory</a></b>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/conversations" style= "color: #FFFFFF"><b>Conversation</a></b>
          </li>                             
           <li class="nav-item">
            <a class="nav-link" href="/forum_threads" style= "color: #FFFFFF"><b>Community Forum</a></b>
          </li>   
          <li class="nav-item">
            <a class="nav-link" href="/logout" style= "color: #FFFFFF"><b>Logout</a></b>
          </li> 
        </ul>
      </div>
    </div>
    <%end%>
   </nav>
