<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<p id="notice"><%= notice %></p>

<% if logged_in? %>
    <h4 class="text-center"><i>You are logged in</h4>
    <h3 id="currentuser"><%= current_user.username %></h3>
<%end%>

<strong>
<p id="followercount"></p>
</strong>
<p id="followerlist"></p>

<strong>
<p id="followingcount"></p>
</strong>
<p id="followinglist"></p>


<table id="followertable" style="display:none">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @followers.each do |follower| %>
      <tr>
        <td class="fromcell"><%= follower.from %></td>
        <td class="tocell"><%= follower.to %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<script>

user=document.getElementById("currentuser").innerHTML;
followercount=0
followingcount=0
i=0
followertext=" follows you!"
followingtext="You follow "

var table = document.getElementById("followertable");
for (var i = 0, row; row = table.rows[i]; i++) {
   fromuser = row.children[0].innerText;
   touser = row.children[1].innerText;
   if(fromuser == user){
    followingcount++;
    followingtext=followingtext + touser + ", ";
  }
  if(touser == user){
    followercount++;
    followertext=fromuser + ", " + followertext
  }
}


if(followercount==0){
  followertext="No one follows you!"
}
if(followingcount==0){
  followingtext="You follow no one!"
}

document.getElementById("followercount").innerText="You currently have " + followercount + " followers!";
document.getElementById("followerlist").innerText=followertext;

document.getElementById("followingcount").innerText="You currently follow " + followingcount + " people!";
document.getElementById("followinglist").innerText=followingtext;

</script>
