<table class="table" style="font-family: Merriweather; color: #36454F border:2px; border-style:solid; border-color:#96A1A7; padding: 1em" id="mytab4">
   <tr>
    <th>Subject</th>
    <th>Date/Time Posted</th>
    <th>Link to Thread</th>
  </tr>
<tr>
<%= link_to forum_thread do |f|%>
     <tr>
        <td><%=forum_thread.subject%></td>
        <td><%=forum_thread.created_at%></td>
        <td><%= link_to "View Thread", forum_thread_path(forum_thread)%></td>
     </tr>
<% end %>
</table>