

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>



<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>


 

<h1 style="font-family: Merriweather; color: #00008B" class="text-center"><b>Forum Threads</b></h1>

<div class = "d-flex align-items-center justify-content-center">
<h6 style="font-family: Georgia; color: #7787b1 border:2px; border-style:solid; border-color:#96A1A7; padding: 1em;" class="text-center"> Have a passionate topic of interest you want to share and discuss with other students and alumni? Click the button below to start a conversation thread in our forum! You can also view and contribute to any existing threads listed below.</h6>
</div>



<div class = "d-flex align-items-center justify-content-center">
<%= link_to "New Thread", new_forum_thread_path, class: "btn btn-success" %>
</div>



<form action="/forum_threads" method="get">
<h5 style="font-family: Merriweather; color: #00008B;"><b>Search Forum</b></h5>
<input type="text" name="term" id="term" placeholder="Type to search for threads!">

<input type="submit" value="Submit">

</form>
<h4 style="font-family: Merriweather; color: #00008B"class="text-center"><b>All Conversations</b></h4>


<div class="container threadcontainer">
 
  <%= render @forum_threads %>


</div>





<script>




query = window.location.search;

//Get search terms from URL
urlParams = new URLSearchParams(query);
searchterm=urlParams.get('term');

if(searchterm == null){
  searchterm=""
}

//Remove all search rows that do not contain the given search term
var allRows = $('.threadcontainer a');
        allRows.each(function(){
            if( ! $(this).is(':contains("'+searchterm+'")'))  {
                $(this).css({"display":"none"});
            }
        });

</script>

