<h1 style="font-family: Merriweather; color: #00008B" class="text-center"><b>Post New Thread</b></h1>

<div class = "d-flex align-items-center justify-content-center">
<h6 style="font-family: Georgia; color: #7787b1 border:2px; border-style:solid; border-color:#96A1A7; padding: 1em;" class="text-center"> Use the message box below to create your post. Click the button then to post it to the community forum.</h6>
</div>

<%= render "form" %>